.maplibre-control-zoomhome {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.maplibre-control-zoomhome button {
    background-image: url(./home.svg);
    background-repeat: no-repeat;
    background-size: 45px 45px;
    background-position: -7px -7px;
}
